<a href="https://colab.research.google.com/github/Rohitatodiya/Rohit/blob/main/Day_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Built in Functions of Python

#abs() Function

The abs() function returns the absolute value of the specified number.

In [1]:
x = abs(-7.25)

In [2]:
print(x)

7.25

In [3]:
y = abs(-8)
print(y)

8

In [5]:
x = abs(3+5j)
print(x)
print(type(x))

5.830951894845301
<class 'float'>

#Bin Function

The bin() function returns the binary version of a specified integer.
The result will always start with the prefix 0b.

In [6]:
x = bin(10)
print(x)

0b1010

In [8]:
y = bin(36)
print(y)

0b100100

In [9]:
z = bin(56)
print(z)
print(type(z))

0b111000
<class 'str'>

#Python bytes() Function
 The bytes() function returns a bytes object/
 It can covert objects into bytes objects,or create empty bytes object of the specified size.

In [10]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [11]:
y = bytes(16)
print(y)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# Python chr() Function
  The chr() function returns a complex number by specifying a real number and an imaginary number.

In [12]:
x = chr(97)
print(x)

a

In [13]:
x = chr(98)
print(x)

b

In [14]:
x = chr(99)
print(x)

c

# Python Complex() Function
  The complex() Function returns a complex number by specifying a real number and an imaginary number.

In [15]:
x = complex(3,5)
print(x)

(3+5j)

In [16]:
y = complex(2.5, 3.96)
print(y)

(2.5+3.96j)

In [17]:
x = complex('3')
print(x)

(3+0j)

#  Python float() Function
The float() function converts the specified value into a floating point number.

In [19]:
x = float(3)
print(x)

3.0

In [20]:
y = float('3.500')
print(y)

3.5

# Python format() Function
  The format() function formats a specified value into a specified format.

  syntax format(value,format)

In [22]:
x= format(0.5,'%')
print(x)

50.000000%

In [23]:
y = format(97,'c')
print(y)

a

In [24]:
z = format(95,'c')
print(z)

_

In [25]:
a = format(255,'x')
print(a)

ff

In [26]:
m = format(25,'b')
print(m)

11001

In [27]:
n = format(25,'b')
print(n)

11001

# int() function of python
  The int() function converts the specified value into an integer number.

In [28]:
x = int('12')
print(x)

12

# str() Function in Python

In [29]:
a = str('2568')
print(a)

2568

# Help function in Python

The python help function is used to display the documentation of modules, functions, classes, keywords, etc.

In [30]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Input Function in Python

  The input() function allows user input.

In [32]:
x = input('Enter your name: ')
print('Hello, ' + x)

Enter your name: Rohit
Hello, Rohit

In [35]:
x = input('Enter your age : ')
print('your age is , ' + x)
print(type(x))

Enter your age : 22
your age is , 22
<class 'str'>

"""Write a program to calculate the percentage of the student in the subjects Mathematics, Science, Social Science, English and hindi. Ask the user to give the input"""

In [38]:
x = input(' Enter The Name of the Student ')
a = input('Enter the marks scored in English')
b = input('Enter the marks scored in Hindi')
c = input('Enter the marks scored in Mathematics')
d = input('Enter the marks scored in Science')
e = input('Enter the marks scored in Social Science')
p = int(a)+int(b)+int(c)+int(d)+int(e)
n = (p/500)*100
print('Percent Scored by The Student', x , 'is', n,'%')

 Enter The Name of the Student Rohit
Enter the marks scored in English80
Enter the marks scored in Hindi82
Enter the marks scored in Mathematics86
Enter the marks scored in Science76
Enter the marks scored in Social Science75
Percent Scored by The Student Rohit is 79.80000000000001 %